name: CMake

on:
  push:
    branches: [main]
    paths: 
      - '.github/workflows/cmake.yml'
      - '**/CMakeLists.txt'
      - '**/*.cmake'
      - '**/*.cmake.in'
      - 'Sources/**/*.[ch]'
      - 'Sources/**/*.swift'
      - 'Sources/**/module.modulemap'
  pull_request:
    paths: 
      - '.github/workflows/cmake.yml'
      - '**/CMakeLists.txt'
      - '**/*.cmake'
      - '**/*.cmake.in'
      - 'Sources/**/*.[ch]'
      - 'Sources/**/*.swift'
      - 'Sources/**/module.modulemap'

jobs:
  Xcode:
    strategy:
      matrix:
        xcode_version: ['12.0.1', '12.1', '12.2', '12.3', '12.4']
    runs-on: macos-latest
    env:
      DEVELOPER_DIR: /Applications/Xcode_${{ matrix.xcode_version }}.app
    steps:
      - uses: actions/checkout@v2
      - run: brew install cmake ninja
      - run: swift -version
      - run: cmake -B build -G Ninja -S . -DCMAKE_BUILD_TYPE=Release
      - run: cmake --build build
      - run: cmake --build build --target install
      - run: file /usr/local/lib/swift/macosx/libYams.dylib | grep "Mach-O 64-bit dynamically linked shared library x86_64"
