name: Nightly

on:
  push:
    branches: [main]
    paths: 
      - '.github/workflows/nightly.yml'
      - 'Package*'
      - 'Sources/**/*.[ch]'
      - 'Sources/**/*.swift'
      - 'Sources/**/module.modulemap'
      - 'Tests/**/*.swift'
      - 'Tests/**/*.ya?ml'
  pull_request:
    paths: 
      - '.github/workflows/nightly.yml'
      - 'Package*'
      - 'Sources/**/*.[ch]'
      - 'Sources/**/*.swift'
      - 'Sources/**/module.modulemap'
      - 'Tests/**/*.swift'
      - 'Tests/**/*.ya?ml'
  schedule:
    - cron: '0 4 * * *'

jobs:
  Nightly:
    runs-on: ubuntu-latest
    container:
      image: norionomura/swift:nightly
    steps:
      - uses: actions/checkout@v3
      - run: YAMS_DEFAULT_ENCODING=UTF16 swift test --parallel
      - run: YAMS_DEFAULT_ENCODING=UTF8 swift test --parallel
