name: SwiftPM

on:
  push:
    branches: [master]
    paths: 
      - '.github/workflows/swiftpm.yml'
      - 'Package*'
      - 'Sources/**/*.[ch]'
      - 'Sources/**/*.swift'
      - 'Sources/**/module.modulemap'
      - 'Tests/**/*.swift'
      - 'Tests/**/*.ya?ml'
  pull_request:
    paths: 
      - '.github/workflows/swiftpm.yml'
      - 'Package*'
      - 'Sources/**/*.[ch]'
      - 'Sources/**/*.swift'
      - 'Sources/**/module.modulemap'
      - 'Tests/**/*.swift'
      - 'Tests/**/*.ya?ml'

jobs:
  Xcode:
    strategy:
      matrix:
        xcode_version: ['11', '11.1', '11.2', '11.3', '11.4', '11.5', '11.6']
    runs-on: macos-latest
    env:
      DEVELOPER_DIR: /Applications/Xcode_${{ matrix.xcode_version }}.app
    steps:
      - uses: actions/checkout@v2
      - run: swift -version
      - run: YAMS_DEFAULT_ENCODING=UTF16 swift test --parallel
      - run: YAMS_DEFAULT_ENCODING=UTF8 swift test --parallel

  Linux:
    strategy:
      matrix:
        tag: ['5.1', '5.2']
    runs-on: ubuntu-latest
    container:
      image: swift:${{ matrix.tag }}
    steps:
      - uses: actions/checkout@v2
      - run: YAMS_DEFAULT_ENCODING=UTF16 swift test --parallel
      - run: YAMS_DEFAULT_ENCODING=UTF8 swift test --parallel

  Windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: seanmiddleditch/gha-setup-vsdevenv@master
      - name: Install swift-DEVELOPMENT-SNAPSHOT-2020-09-22-a
        run: |
          Install-Binary -Url "https://swift.org/builds/development/windows10/swift-DEVELOPMENT-SNAPSHOT-2020-09-22-a/swift-DEVELOPMENT-SNAPSHOT-2020-09-22-a-windows10.exe" -Name "installer.exe" -ArgumentList ("-q")
      - name: Set Environment Variables
        run: |
          echo "::set-env name=SDKROOT::C:\Library\Developer\Platforms\Windows.platform\Developer\SDKs\Windows.sdk"
          echo "::set-env name=DEVELOPER_DIR::C:\Library\Developer"
      - name: Adjust Paths
        run: |
          echo "::add-path::C:\Library\Developer\Toolchains\unknown-Asserts-development.xctoolchain\usr\bin;C:\Library\Swift-development\bin;C:\Library\icu-67\usr\bin"
      - name: Install Supporting Files
        shell: cmd
        run: |
          copy "%SDKROOT%\usr\share\ucrt.modulemap" "%UniversalCRTSdkDir%\Include\%UCRTVersion%\ucrt\module.modulemap"
          copy "%SDKROOT%\usr\share\visualc.modulemap" "%VCToolsInstallDir%\include\module.modulemap"
          copy "%SDKROOT%\usr\share\visualc.apinotes" "%VCToolsInstallDir%\include\visualc.apinotes"
          copy "%SDKROOT%\usr\share\winsdk.modulemap" "%UniversalCRTSdkDir%\Include\%UCRTVersion%\um\module.modulemap"
      - name: Build
        run: swift build -v
