name: xcodebuild

on:
  push:
    branches: [master]
    paths: 
      - '.github/workflows/xcodebuild.yml'
      - 'Yams.xcodeproj/**'
      - 'Sources/**/*.[ch]'
      - 'Sources/**/*.swift'
      - 'Tests/**/*.swift'
      - 'Tests/**/*.ya?ml'
      - '!Tests/LinuxMain.swift'
  pull_request:
    paths:
      - '.github/workflows/xcodebuild.yml'
      - 'Yams.xcodeproj/**'
      - 'Sources/**/*.[ch]'
      - 'Sources/**/*.swift'
      - 'Tests/**/*.swift'
      - 'Tests/**/*.ya?ml'
      - '!Tests/LinuxMain.swift'

jobs:
  xcodebuild:
    strategy:
      matrix:
        xcode:
          - version: '11'
            flags_for_test: -parallel-testing-enabled NO
          - version: '11.1'
            flags_for_test: -parallel-testing-enabled NO
          - version: '11.2'
            flags_for_test: -parallel-testing-enabled NO -enableCodeCoverage YES
          - version: '11.3'
            flags_for_test: -parallel-testing-enabled NO -enableCodeCoverage YES
          - version: '11.4'
            flags_for_test: -parallel-testing-enabled NO -enableCodeCoverage YES
        xcode_flags: ['-scheme Yams -project Yams.xcodeproj']
    runs-on: macos-latest
    env:
      DEVELOPER_DIR: /Applications/Xcode_${{ matrix.xcode.version }}.app
    steps:
      - uses: actions/checkout@v1
      - run: xcodebuild -version
      - name: macOS with UTF16
        if: always()
        run: YAMS_DEFAULT_ENCODING=UTF16 xcodebuild ${{ matrix.xcode_flags }} ${{ matrix.xcode.flags_for_test }} test | xcpretty
        shell: bash
      - name: macOS with UTF8
        if: always()
        run: YAMS_DEFAULT_ENCODING=UTF8 xcodebuild ${{ matrix.xcode_flags }} ${{ matrix.xcode.flags_for_test }} test | xcpretty
        shell: bash
      - name: iPhone Simulator
        if: always()
        run: xcodebuild ${{ matrix.xcode_flags }} ${{ matrix.xcode.flags_for_test }} test -sdk iphonesimulator -destination "name=iPhone 8" | xcpretty
        shell: bash
      - name: Apple TV Simulator
        if: always()
        run: xcodebuild ${{ matrix.xcode_flags }} ${{ matrix.xcode.flags_for_test }} test -sdk appletvsimulator -destination "name=Apple TV 4K" | xcpretty
        shell: bash
      - name: watchOS Simulator
        if: always()
        run: xcodebuild ${{ matrix.xcode_flags }} build -sdk watchsimulator | xcpretty
        shell: bash
      - name: Codecov
        if: contains(matrix.xcode.flags_for_test, '-enableCodeCoverage YES')
        run: |
          if [[ -n "${CODECOV_TOKEN}" ]]; then
            curl -s https://codecov.io/bash | bash -s
          fi
        shell: bash
        env: { 'CODECOV_TOKEN': '${{ secrets.CODECOV_TOKEN }}' }
